@charset "UTF-8";
/* CSS Document 
Customer_Homepage.css*/
header{
	background-color: grey;
}

/*
table, th, td {
  	border:1px solid black;
	background-color: beige;
  border:1px solid black;
background-color: beige;
}
*/
.body{
  background-color: #F8F0E3;
}
.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  margin: 4px 2px;
  cursor: pointer;
}
.AlignTable{
	margin: 0 auto;

}
.MarginImage{
	margin-right: 6em;
}
.MarginImageSweatShirt{
	margin-left: 6em;
}
#center {
	margin: 0 auto;
}
.imageHeader{
  width: 12em;
}

.slider-img-size{
  height: auto;
  width: auto;
}

.headerColor{
  background-color: green;
}


















